.paddingCar {
  display: flex;
  flex-direction: column;
  background-color: #0F52BA;
  margin: 0;
  padding: 1rem 3rem;
  height: 100vh;
  overflow: hidden;
}

.ulContainer {
  margin-top: 3rem;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 1rem;
}

.ul {
  // padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  // padding: 0;
  margin: 0;
}

.ul li {
  .boxExcluir {
    z-index: 0;
    margin: 3rem;
    // background-color: #ee2323;
    position: absolute;
  }
  .btnExcluir {
    margin-bottom: 4.5rem;
    margin-left: 20rem;
    background-color: #000000; /* Mude a cor de fundo para vermelho, por exemplo */
    border-radius: 100%; /* Mantenha o formato do botão redondo */
    padding: 0.3rem; /* Reduza um pouco o preenchimento */
    font-size: 0.8rem; /* Diminua o tamanho da fonte */
  }
  .boxCar {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    .boxImg {
      display: flex;
      gap: 1rem;
      width: 12rem;
      align-items: center;
      p {
        color: #2C2C2C;
        margin: 0;
        font-size: 1rem;
      }
    }

    .boxSpan {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .quantityLabel {
        margin: 0 0 0.25rem 0;
        font-size: 0.7rem;
      }

      .buttons {
        display: flex;

        button {
          border: 1px solid #ccc;
          border-left: none;
          padding: 0 0.3rem;
          cursor: pointer;

          &:first-child {
            border-left: 1px solid #ccc;
          }

          &:hover {
            background-color: #eee;
          }
        }
      }
    }
    span {
      font-weight: bolder;
      font-size: 1rem;
    }
  }
}

.carrinhoH2 {
  h2 {
    color: #fff;
  }
}

.total {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.button {
  z-index: 999999;
  width: 100%;
  background-color: #000000;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 2rem;
  bottom {
    cursor: pointer;
  }
}

